.container.header-separator
  %h1 Your Sky Bill

  #vue-sky.container
    .container
      %ul.nav.navbar-nav
        %li.nav-item
          %a{href: "#", '@click': 'toggleView("statement-overview")'} 
            = image_tag('check.png', alt: 'Statement')
        %li.nav-item 
          %a{href: "#", '@click': 'toggleView("package-breakdown")'} 
            = image_tag('package.png', alt: 'Packages')
        %li.nav-item 
          %a{href: "#", '@click': 'toggleView("calls-breakdown")'} 
            = image_tag('phone-call.png', alt: 'Calls')
        %li.nav-item 
          %a{href: "#", '@click': 'toggleView("store-breakdown")'} 
            = image_tag('shopping-cart.png', alt: 'Store')
    %component{':is': "currentView", ':data': 'getMyData()', 'v-if': 'showBill'}
    .display-messages.col-xs-12{'v-else': ''}
      .alert-danger{'v-if': 'errors["errors"]'}
        %p {{errors['errors']}}
      .loading-spinner{'v-else': ''}
        .col-xs-4
        .col-xs-2
          .loader
        .col-xs-6
    


= render 'vue_templates/statement_overview'
= render 'vue_templates/package_breakdown'
= render 'vue_templates/calls_breakdown'
= render 'vue_templates/store_breakdown'