!!!
%html
  %head
    %title Sky Bills
    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'sky-favicon.png', rel: 'shortcut icon', type: 'image/png'
  %body
    %header.layout-header
      = render "layouts/header"

    .layout-content
      = yield

    %footer.layout-footer
      = render "layouts/footer"